@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-primary: #8b5cf6;
  --color-secondary: #ec4899;
  --font-sans: Inter, sans-serif;
}

body {
  @apply bg-background text-white font-sans antialiased;
  background-image: radial-gradient(circle at 50% 0%, #2e1065 0%, #09090b 50%);
  min-height: 100vh;
}